@use "../abstracts" as *;

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.card {
    --_card-foreground: var(--card-foreground, #{$card-foreground});
    --_card-background: var(--card-background, #{$card-background});
    --_card-padding: var(--card-padding, #{$card-padding});
    --_card-shadow: var(--card-shadow, #{$card-shadow});
    --_card-border-radius: var(--card-border-radius, #{$card-border-radius});

    display: grid;
    background: var(--_card-background);
    overflow: clip;
    box-shadow: var(--_card-shadow);
    border-radius: var(--_card-border-radius);

    &:is(:hover) {
        --card-shadow: #{$card-shadow-hover};
    }

    .card__image {
        margin: 0;
        padding: 0;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .card__body {
        padding: var(--_card-padding);
    }
}
