@use "../abstracts" as *;

.site-nav {
    visibility: hidden;
    position: relative;
    width: 100%;
    height: 0;
    order: 3;
    transition: height 1s ease;

    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }

    &__item {
        --text-max-width: 100%;
        position: relative;
        width: var(--text-max-width);
    }

    &__link {
        --_nav-link-foreground: var(--nav-link-foreground, #{$nav-link-foreground});
        --_nav-link-background: var(--nav-link-background, #{$nav-link-background});
        --_nav-link-font-size: var(--nav-link-font-size, #{$nav-link-font-size});
        --_nav-link-line-height: var(--nav-link-line-height, #{$nav-link-line-height});
        --_nav-link-padding: var(--nav-link-padding, #{$nav-link-padding});
        --_nav-link-border-radius: var(--nav-link-border-radius, #{$nav-link-border-radius});

        display: block;
        color: var(--_nav-link-foreground);
        background: var(--_nav-link-background);
        font-size: var(--_nav-link-font-size);
        line-height: var(--_nav-link-line-height);
        text-decoration: none;
        padding: var(--_nav-link-padding);
        border-radius: var(--_nav-link-border-radius);

        &:is(:hover) {
            --nav-link-foreground: #{$nav-link-hover-foreground};
            --nav-link-background: #{$nav-link-hover-background};
        }

        &[aria-current="page"] {
            --nav-link-foreground: #{$nav-link-active-foreground};
            --nav-link-background: #{$nav-link-active-background};

            font-weight: var(--fw-medium);
        }
    }
}

[aria-expanded="true"] + nav {
    visibility: visible;
    height: auto;
}


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

@media (width > 840px) {
    .site-nav {
        height: auto;
        visibility: visible;

        &,
        &__item {
            --text-max-width: auto;
            width: var(--text-max-width);
        }

        &__item {
            text-align: start;
        }

        &__link {
            --nav-link-padding: #{$nav-link-padding-desktop};
        }
    }
}
