{{ $gallery := partial "components/get-gallery.html" . }}
{{ with $gallery }}
  <a class="card album-card" href="{{ .page.RelPermalink }}" title="{{ .page.Title }}">
    <figure style="background-color: {{ .color }}; margin: 0;">
      <img class="lazyload" width="{{ .thumbnail.Width }}" height="{{ .thumbnail.Height }}"
           data-src="{{ .thumbnail.RelPermalink }}"
           src="{{ .thumbnail.RelPermalink }}"
           alt="{{ .page.Title }}" />
    </figure>
    <div class="flow">
      <h3 class="mt-0">{{ .page.Title }}</h3>
      <p class="mt-0">
        {{ if gt .albumCount 0 }}
          {{ T "albumCount" (dict "count" (.albumCount | lang.FormatNumber 0) "photoCount" (.imageCount | lang.FormatNumber 0 | lang.Translate "photoCount")) }}
        {{ else }}
          {{ T "photoCount" (.imageCount | lang.FormatNumber 0) }}
        {{ end }}
      </p>
    </div>
  </a>
{{ else }}
  {{ warnf "No gallery data for page: %s" .Page.Title }}
{{ end }}
