<section class="gallery [ full-width ] [ region ]">
  <div id="gallery">
    {{ $images := slice }}
    {{ range .Resources.ByType "image" }}
      {{ $title := "" }}
      {{ $date := "" }}
      {{ with .Exif }}
        {{ $date = .Date }}
        {{ with .Tags.ImageDescription }}
          {{ $title = . }}
        {{ end }}
      {{ end }}
      {{ if ne .Title .Name }}
        {{ $title = .Title }}
      {{ end }}
      {{ $images = $images | append (dict
        "Name" .Name
        "Title" $title
        "Date" $date
        "image" .
        )
      }}
    {{ end }}

    {{ if gt (len $images) 0 }}
      {{ range sort $images "Name" "asc" }}
        {{ $image := .image }}
        {{ $thumbnail := $image.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
        {{ $full := $image.Filter (slice images.AutoOrient (images.Process "fit 1600x1600")) }}
        {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
        <a class="gallery-item" href="{{ $image.RelPermalink }}"
           data-pswp-src="{{ $full.RelPermalink }}"
           data-pswp-width="{{ $full.Width }}"
           data-pswp-height="{{ $full.Height }}"
           title="{{ .Title }}"
           itemscope itemtype="https://schema.org/ImageObject"
           style="aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
          <figure style="background-color: {{ $color }}; aspect-ratio: {{ $thumbnail.Width }} / {{ $thumbnail.Height }}">
            <img class="lazyload" width="{{ $thumbnail.Width }}" height="{{ $thumbnail.Height }}"
                 src="{{ $thumbnail.RelPermalink }}"
                 alt="{{ .Title }}" />
          </figure>
          <meta itemprop="contentUrl" content="{{ $image.RelPermalink }}" />
          {{ with site.Params.Author }}
            <span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
              <meta itemprop="name" content="{{ site.Params.Author.name }}" />
            </span>
          {{ end }}
        </a>
      {{ end }}
    {{ else }}
      <p>No images available in this gallery.</p>
    {{ end }}
  </div>
</section>
