{{ $gallery := "" }}
{{ $images := .Resources.ByType "image" }}

{{ if gt (len $images) 0 }}
  {{ $featured := $images.GetMatch "*.feature*" | default (index $images 0) }}
  {{ $thumbnail := $featured.Fit "600x600" }}
  {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
  {{ $imageCount := len $images }}

  {{ $albumCount := 0 }}
  {{ if .IsPage }}
    {{ $albumCount = 1 }}
  {{ else }}
    {{ $albumCount = len (where .Pages "Section" "gallery") }}
  {{ end }}

  {{ $gallery = dict
    "page" .
    "images" $images
    "thumbnail" $thumbnail
    "color" $color
    "albumCount" $albumCount
    "imageCount" $imageCount
  }}
{{ end }}

{{ return $gallery }}
