* {
    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    hanging-punctuation: first last;
    interpolate-size: allow-keywords;

    @media (prefers-reduce-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

:target {
    scroll-margin-block: 5ex;
}



body {
    margin: 0;
    min-height: 100dvh;
}

h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

h1,
h2,
h3,
h4 {
    font-size: inherit;
    text-wrap: balance;
}

p,
li,
figcaption {
    --_text-max-width: var(--text-max-width, 75ch);
    max-width: var(--_text-max-width);
    text-wrap: pretty;
}

:is(ul, ol)[class] {
    list-style: '';
    margin: 0;
    padding: 0;
}

img,
picture {
    max-width: 100%;
    height: auto;
    display: block;
}


input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

textarea {
    min-height: 15em;
}

button,
[type="button"],
[type="submit"],
[type="reset"] {
    -webkit-appearance: button;
    background-image: none;
}


td,
math,
time[datetime*=":"] {
    font-variant-numeric: tabular-nums lining-nums;
}


table {
    border-collapse: collapse;
}
