{{ $currentPage := . }}
{{ $currentURL := trim $currentPage.RelPermalink "/" }}
{{ $siteNav := .Site.Params.sitenav }}
<nav class="site-nav">
    <ul class="site-nav__list">
        {{ range $siteNav }}
            {{ $navURL := trim .url "/" }}
            {{ if .dropdown }}

            {{ else if .button }}
            <li class="site-nav__item">
                <a href="{{ .url }}" class="button">{{ .title }}</a>
            </li>
            {{ else }}
            <li class="site-nav__item">
                <a href="{{ .url }}" class="site-nav__link" {{ if eq $navURL $currentURL }}aria-current="page"{{ end}}>{{ .title }}</a>
            </li>
            {{ end }}
        {{ end }}
    </ul>
</nav>
