$-clr-blue-50: #eff6ff;
$-clr-blue-100: #dbeafe;
$-clr-blue-200: #bfdbfe;
$-clr-blue-300: #93c5fd;
$-clr-blue-400: #60a5fa;
$-clr-blue-500: #3b82f6;
$-clr-blue-600: #2563eb;
$-clr-blue-700: #1d4ed8;
$-clr-blue-800: #1e40af;
$-clr-blue-900: #1e3a8a;
$-clr-blue-950: #172554;


$light: (
    "neutral": (
        "50": #fff,
        "100": #f8f9fa,
        "200": #e9ecef,
        "300": #dee2e6,
        "400": #ced4da,
        "500": #adb5bd,
        "600": #6c757d,
        "700": #495057,
        "800": #343a40,
        "900": #212529,
        "950": #000,
    ),
    "primary": (
        "50": #ebe9fb,
        "100": #d7d4f7,
        "200": #afa8f0,
        "300": #887de8,
        "400": #6052e0,
        "500": #3826d9,
        "600": #2d1fad,
        "700": #221782,
        "800": #160f57,
        "900": #0b082b,
        "950": #060416,
    ),
    "secondary": (
        "50": #ecebfa,
        "100": #dad7f4,
        "200": #b4aeea,
        "300": #8f86df,
        "400": #6a5ed4,
        "500": #4436c9,
        "600": #372ba1,
        "700": #292079,
        "800": #1b1551,
        "900": #0e0b28,
        "950": #070514,
    ),
    "accent": (
        "50": #fbefe9,
        "100": #f7e0d4,
        "200": #f0c0a8,
        "300": #e8a17d,
        "400": #e08152,
        "500": #d96226,
        "600": #ad4e1f,
        "700": #823b17,
        "800": #57270f,
        "900": #2b1408,
        "950": #160a04,
    ),
);
