{{ if .enabled }}
<section class="[ features ] [ full-width flow ] [ region ]">
    <div class="narrow text--center">
        <h2 class="">{{ .content.title }}</h2>
        <p>{{ .content.description }}</p>
    </div>
    <div class="grid-auto-fit">
        {{ range .content.features_list }}
        <div class="card [ bgcolor-neutral-50 ]">
            <div class="icon">
                {{ with .Params.image }}
                    {{ $isSVG := strings.HasSuffix . "svg" }}
                    {{ if $isSVG }}
                        {{ $svg := readFile . }}
                        {{ $svg | safeHTML }}
                    {{ else }}
                        <img src="{{ . }}" alt="{{ .title }}" />
                    {{ end }}
                {{ end }}
            </div>
            <div class="card__content flow">
                <h3>{{ .title }}</h3>
                <p>{{ .description }}</p>
                {{ with .link }}
                    <a href="{{ .url }}" class="button">{{ .title }}</a>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
