{{ if .enabled }}
<section class="[ {{.id}} ] [ full-width ] [ flow region | bgcolor-primary-50 ]">
    <div class="narrow text--center">
        {{ with .content.title }}
        <h2>{{ . }}</h2>
        {{ end }}
        {{ with .content.description }}
        <p>{{ . }}</p>
        {{ end }}
    </div>

    <div class="grid-auto-fit" data-cols="three">
        {{ range .content.list }}
            {{ partial "components/profile-card.html" . }}
        {{ end }}
    </div>
</section>
{{ end }}