{{ define "main" }}
<section class="[ album ] [ full-width ] [ region ]">
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}
        <p>{{ . }}</p>
    {{ end }}

    <div id="gallery" class="grid-auto-fit">
        {{ $images := .Resources.ByType "image" }}
        {{ range $images }}
            {{ $thumbnail := .Fill "600x600" }}
            {{ $full := .Resize "1600x" }}
            <a class="card"
               href="{{ $full.RelPermalink }}"
               title="{{ .Title }}">
                <img src="{{ $thumbnail.RelPermalink }}"
                        alt="{{ .Name }}"
                        width="{{ $thumbnail.Width }}"
                        height="{{ $thumbnail.Height }}"
                        loading="lazy" />
            </a>
        {{ end }}
    </div>
</section>
{{ end }}
