{{ define "main" }}
<article class="content-single">
    <header>
        <h1>{{ .Title }}</h1>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format "Monday, January 2, 2006" }}
        </time>
    </header>

    {{ .Content }}

    {{ if eq .Type "events" }}
        {{ with .Params.event_date }}
        <p>Event Date: {{ . | dateFormat "January 2, 2006" }}</p>
        {{ end }}
        {{ with .Params.location }}
        <p>Location: {{ . }}</p>
        {{ end }}
        {{ with .Params.registration_link }}
        <p><a href="{{ . }}" target="_blank">Register for this event</a></p>
        {{ end }}
    {{ end }}

    {{ if .Params.tags }}
    <div class="tags">
        Tags:
        {{ range .Params.tags }}
            <span class="tag">{{ . }}</span>
        {{ end }}
    </div>
    {{ end }}
</article>
{{ end }}
