{{ define "main" }}
<section class="[ contact ] [ full-width ] [ region ]">
    <div class="grid-auto-fit" data-cols="two">

        <div class="flow">
            <h2>{{ .Title }}</h2>
            <p>{{ .Description }}</p>
            {{ .Content }}
        </div>
        <form action="https://formsubmit.co/info@wijkraadkoningshaven.nl" method="POST" name="contact" class="[ flow ]">
            <div class="">
              <label for="naam" class="[ fs-300 fw-semibold ]">Naam</label>
              <input type="text" id="naam" name="naam" />
            </div>
            
            <div class="">
              <label for="email" class="[ fs-300 fw-semibold ]">Email</label>
              <input type="email" id="email" name="email" />
            </div>
      
            <div class="">
              <label for="onderwerp" class="[ fs-300 fw-semibold ]">Onderwerp</label>
              <input type="text" id="onderwerp" name="onderwerp" />
            </div>
      
            <div class="">
              <label for="bericht" class="[ fs-300 fw-semibold ]">Uw bericht</label>
              <textarea id="bericht" name="bericht" rows="10" class=""></textarea>
            </div>
            
            <button class="button" type="submit">Verzend</button>
        </form>

    </div>
</section>
{{ end }}