@use "../abstracts" as *;

.grid-auto-fit {
    --_grid-auto-fit-min-col-size: var(--grid-auto-fit-min-col-size, 16em);
    --_grid-auto-fit-gap: var(--grid-auto-fit-gap, #{$global-gap-size});

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--_grid-auto-fit-min-col-size), 100%), 1fr));
    gap: var(--_grid-auto-fit-gap);
}
