{{ define "main" }}
<section class="[ verrijk-je-wijk ] [ full-width flow ] [ region ]">
    <h2>{{ .Title }}</h2>
    {{ .Content }}
</section>
<section class="[ vjw-form ] [ full-width flow ] [ region ]">
    <form target="_blank" action="https://formsubmit.co/vjw@wijkraadkoningshaven.nl" method="POST" class="[ narrow flow ]">
        <input type="hidden" name="_subject" value="Aanvraag: Verrijk je wijk">
        <input type="text" name="_honey" style="display:none">
        <input type="hidden" name="_template" value="basic">
        <div class="flow">
        <label for="naam" class="[ fs-300 fw-semibold ]">Naam:</label>
        <input type="text" id="naam" name="naam" class="form-control" placeholder="Volledige naam" required>
        </div>

        <div class="flow">
        <label for="telefoon" class="[ fs-300 fw-semibold ]">Telefoon:</label>
        <input type="text" id="telefoon" name="telefoon" class="form-control" placeholder="Telefoon nummer" required>
        </div>

        <div class=" [ flow ]">
        <label class="[ fs-300 fw-semibold ]">Adress:</label>
        <input type="text" name="street" class="form-control" placeholder="Straatnaam + huisnummer" required>
        <div class="grid-auto-fit">
            <input type="text" name="postcode" placeholder="Postcode">
            <input type="text" name="woonplaats" placeholder="Woonplaats">
        </div>
        </div>


        <div class="">
        <label for="email" class="[ fs-300 fw-semibold ]">Email:</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email Address" required>
        </div>

        <div>
        <label for="aanvrager" class="[ fs-300 fw-semibold ]">Namens wie vraagt u het aan?</label>
        <input type="text" id="aanvrager" name="aanvrager" placeholder="bijv. straat, buurt of vereniging" />
        </div>

        <div class="">
        <label class="[ fs-300 fw-semibold ]">Wat wil u organiseren?</label>
        <textarea name="event description" rows="5" placeholder="Typ in het kort wat u zou willen organiseren"></textarea>
        </div>

        <div class="">
        <label class="[ fs-300 fw-semibold ]">Wat is de datum voor uw plan?</label>
        <input type="date" name="datum" class="form-control" placeholder="datum" required>
        </div>

        <div class="">
        <label class="[ fs-300 fw-semibold ]">Waar vind het plaats?</label>
        <input type="text" name="lokatie" class="form-control" placeholder="Lokatie" required>
        </div>

        <div class="">
        <label class="[ fs-300 fw-semibold ]">Welke doelgroep wil u uitnodigen?</label>
        <input type="text" name="name" class="form-control" placeholder="Bijv. buurtbewoners, kinderen of bejaarden" required>
        </div>

        <div class="">
        <label class="[ fs-300 fw-semibold ]">Hoeveel deelnemers verwacht u?</label>
        <input type="text" name="deelnemers" class="form-control" placeholder="Aantal deelnemers" required>
        </div>

        <div class="">
        <label class="[ fs-300 fw-semibold ]">Hoeveel wil u bij de wijkraad aanvragen?</label>
        <input type="text" name="bedrag" class="form-control" placeholder="Het bedrag wat u wil aanvragen" required>
        </div>

        <div>
        <label class="[ fs-300 fw-semibold ]">Heb je nog aan andere instanties of bedrijven een bijdrage gevraagd en zo ja aan wie?</label>
        <textarea placeholder="" name="bijdragen" rows="5" required></textarea>
        </div>

        <div>
        <label class="[ fs-300 fw-semibold ]">Hoeveel heb je gevraagd en wat is toegezegd?</label>
        <textarea placeholder="Alleen invullen als je de vorige vraag met JA hebt beantwoord" name="bijdragen toegezegd" rows="5"></textarea>
        </div>

        <div>
        <label class="[ fs-300 fw-semibold ]">Noteer hier een berekening (begroting) zoals beschreven onder de spelregels van Verrijk je Wijk</label>
        <textarea placeholder="Noteer hier het bedrag en een duidelijke begroting van alle kosten." name="berekening" rows="5"></textarea>
        </div>

        <button class="button" type="submit">Verzend</button>

    </form>
</section>
{{ end }}
